*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 300px;
    background-image: url("https://media.istockphoto.com/id/940716952/photo/light-white-room-interior.jpg?s=612x612&w=0&k=20&c=_cRT5Zuv-3Bty-ycegs_ffF_Ct3-RqhbaoX-4IDDe1M=");
    background-size: cover;
    padding-top: 10px;
    padding-right: 20px;
    position: relative;
}
.header::before{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0,0,0.4);
    content: "";
    width: 100%;
    height: 100%;
}
.header__content{
    padding-top: 4em;
    padding-left: 6em;
    color: #fff;
}
.navbar{
padding: 0;
margin-top: 0;
text-align: right;
}
.navbar-list{
    display: inline;
    list-style-type: none;
    padding: 4px 6px;
    background-color: rgba(71, 103, 93,0.4);
}

.navbar__link{
    text-decoration: none;
    color: white;
}